
.k-tags-flat

  #k-tags-list
    list-style-type none
    margin 4px 0 0 0
    padding 0

    li
      cursor pointer
      font-size 14px
      background #eee
      // box-shadow 1px 1px 1px rgba(0,0,0,0.2)
      border solid 1px #ddd
      border-width 1px
      padding 1px 3px
      display inline-block
      width auto
      margin 5px
      position relative
      border-radius 3px

  input[type=text]:focus
    border-color #ccc

  input[type=text]
    width 80%
    outline none
    display inline-block !important

@keyframes popup
  0%
    transform scale(0)
    opacity 0
  100%
    transform scale(1)
    opacity 1

@keyframes appear
  0%
    opacity 0
  100%
    opacity 1
