<index: element="k-tags-flat">
	<div class="k-tags-flat">
		<div class="k-tags-flat-inner">
			<input on-keydown="keydown($event)" type="text" as="input" list="tagsdb" pattern="[a-zöäå0-9 ]*"> <button on-click="add($event)" type="button" class="pure-button pure-button-success">OK</button>
			<datalist id="tagsdb">
				{{each tagsDb as #tag}}<option value="{{#tag}}" v="{{#tag}}">{{#tag}}</option>{{/}}
			</datalist>
			<ul id="k-tags-list">
				{{each tags as #tag, #i}}<li on-click="remove(#i)">{{#tag}}</li>{{/}}
			</ul>
		</div>
	</div>
